@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@Html.DevExpress().GetStyleSheets(
	new StyleSheet { ExtensionSuite = ExtensionSuite.GridView})
@Html.DevExpress().GetScripts(
	new Script { ExtensionSuite = ExtensionSuite.GridView})
<div class="container-fluid">
	<h1 style="margin-bottom: 20px; text-align: center">Customers management</h1>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive table--no-card  m-b-40">
				@using (Html.BeginForm("Category"))
				{
					@Html.Hidden("customExportCommand")
					@Html.Action("CustomerPartial", "Category")
				}
			</div>
		</div>
	</div>
</div>