@using EInvoice.Web.Controllers.InvoiceController
@model EInvoice.Web.Models.InvoiceViewModel

@{
	ViewBag.Title = "New Invoice";
	Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
	var controller = ViewContext.Controller as InvoiceController;
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<style>
	.has-error {
		border-style: solid;
		border-color: #ff0000;
	}
</style>
<div class="">
	<div class="page-title">
		<div class="title_right">
		</div>
	</div>
	<div class="clearfix"></div>
	<h3 style="text-align: center">VAT INVOICE</h3>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-9">
							<div class="x_panel">
								<div class="x_title">
									<h2>Customer Information</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div class="row">
										<form class="form-horizontal form-label-left input_mask">
											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Code: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<input class="form-control" name="Code" id="CusCode" type="text">
													<input type="hidden" class="form-control" name="ID" id="customerId">
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Purchaser: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<input class="form-control" name="Purchaser" id="purchaser" type="text">
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Tax Code: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<input class="form-control" name="TaxCode" id="taxCode" type="text">
												</div>
											</div>

											<div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<button type="button" id="find_company" class="btn btn-info ml-3" id="fix-button">Get Info</button>
												</div>
											</div>

											<div class=" col-md-12 form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-3">Enterprise Name:</label>
												<div class="col-md-10 col-sm-10 col-xs-9">
													<input class="form-control" name="Name" id="companyName" type="text">
												</div>
											</div>

											<div class=" col-md-12 form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-3">Address Name:</label>
												<div class="col-md-10 col-sm-10 col-xs-9">
													<input class="form-control" name="Address" id="address" type="text">
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Email: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<input class="form-control" name="Email" id="email" type="text">
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Phone: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<input class="form-control" name="Phone" id="phone" type="text">
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Payment Method: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													@Html.DropDownListFor(model => model.PaymentTypeID,
														controller.GetPaymentType(),
														new
														{
															@class = "form-control",
															id = "paymentType",
															type = "text",
															name = "PaymentType",

															required = "required"
														})
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<label class="control-label col-md-3 col-sm-3 col-xs-12">Note: </label>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<textarea class="form-control" id="note" name="Note" type="text"></textarea>
												</div>
											</div>
											<div class="form-group">

											</div>
											<div class="ln_solid"></div>


										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>Invoice Option</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div class="row">
										<form class="form-horizontal form-label-left input_mask">
											<div class="form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-12">Pattern: </label>
												<div class="col-md-10 col-sm-12 col-xs-12">
													<select id="pattern" class="form-control  col-md-9" required>
														<option selected>Select</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-12">Series: </label>
												<div class="col-md-10 col-sm-12 col-xs-12">												
													<select name="Series" id="series" class="form-control  col-md-9" required>
														<option selected>Select</option>
													</select>
													</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-12">No: </label>
												<div class="col-md-10 col-sm-12 col-xs-12">
													<input type="text" id="no" name="No" class="form-control" placeholder="000000" required value="000000" readonly />
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-2 col-sm-2 col-xs-12">Date: </label>
												<div class="col-md-10 col-sm-12 col-xs-12">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
														<input name="Date" type="text" data-plugin-datepicker class="form-control" id="date">
													</div>
												</div>
											</div>
											<div class="ln_solid"></div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="ml-3 mr-3 panel-body">
						<h5><b>INVOICE DETAILS</b></h5>
						<hr>
						<div class="details">
							<div class="row clearfix">
								<div class="col-md-12">
									<table class=" table table-bordered table-hover" id="tab_logic">
										<thead>
											<tr>
												<th class="text-center"> Series </th>
												<th class="text-center"> Code </th>
												<th class="text-center" style="width: 40%"> Products - Services </th>
												<th class="text-center"> Unit Price </th>
												<th class="text-center"> Unit </th>
												<th class="text-center"> Quantity </th>
												<th class="text-center"> Amount </th>
											</tr>
										</thead>
										<tbody id="goodsTable">
											<tr id='addr0'>
												<td>1</td>
												<td style="display: none"><input id="productId1" name='productId0' class="form-control id" /></td>
												<td><input type="text" id="productCode1" name='productCode0' class="form-control name" step="0" min="0" /></td>
												<td><input type="text" id="name1" name='name0' class="form-control name" step="0" min="0" /></td>
												<td><input type="number" id="price1" name='price0' class="form-control itemPrice " step="0.00" min="0" /></td>
												<td><input type="text" id="unit1" name='unit0' class="form-control unit " step="0.00" min="0" /></td>
												<td><input type="number" id="qty1" name='qty0' class="form-control qty " step="0" min="0" /></td>
												<td><input type="number" id="total1" name='total0' class="form-control total" value="0.00" readonly /></td>
											</tr>
											<tr id='addr1'></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12" id="pull-down">
									<button id="add_row" class="btn btn-light pull-left border-button">Add Row</button>
									<button id='delete_row' class="pull-right btn btn-light border-button">Delete Row</button>
								</div>
							</div>
							<div class="row clearfix" style="margin-top: 20px;">
								<div class="pull-left col-md-8">
									<div class="row" style="margin-top: 16.4%">
										<div class="text-nowrap col-md-3 pt-1">
											<label>Amount in words: </label>
										</div>
										<div class="col-md-9">
											<input class="form-control" tyle="text" style="border: none; background-color: whitesmoke" readonly="readonly">
										</div>
									</div>
								</div>
								<div class="pull-right col-md-4">
									<table class="table table-bordered table-hover" id="tab_logic_total">
										<tbody>
											<tr>
												<th class="text-center">Sub Total</th>
												<td class="text-center"><input type="number" id="sub_total" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly /></td>
											</tr>
											<tr>
												<th class="text-center">Tax</th>
												<td class="text-center">
													<div class="input-group mb-2 mb-sm-0">
														<select id="tax" type="number" class="form-control" placeholder="0">
															<option>0</option>
															<option>5</option>
															<option selected>10</option>
														</select>
														<div class="input-group-addon">%</div>
													</div>
												</td>
											</tr>
											<tr>
												<th class="text-center">Tax Amount</th>
												<td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly /></td>
											</tr>
											<tr>
												<th class="text-center">Grand Total</th>
												<td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="col-md-12" align="right">
							<button id="submitInvoice" type="submit" class="btn btn-primary">Save</button>
							<button type="submit" class="btn btn-primary">Save & Release</button>
							<button type="submit" class="btn btn-outline-secondary">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" language="javascript">
	var now = new Date();
	var day = ("0" + now.getDate()).slice(-2);
	var month = ("0" + (now.getMonth() + 1)).slice(-2);
	var today = (month) + "/" + (day) + "/" + now.getFullYear();
	document.getElementById('date').value = today;
</script>