
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <title>Login</title>
    <link rel="icon" href="~/Assets/Owner/Images/favicon.png" type="image/ico">
</head>

<body>
    <div id="back">
        <div class="backRight"></div>
        <div class="backLeft"></div>
    </div>
    <div id="slideBox">
        <div class="topLayer">
            <div class="left">
                <div class="content">
                    <form method="post" onsubmit="return false;">
                        <div class="form-group">
                            <input type="text" placeholder="Username" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Password" />
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group"></div>
                        <div class="form-group"></div>
                    </form>
                    <button id="goLeft" class="off">Login</button>
                    <button>Sign up</button>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <h2>Login</h2>
                    <form method="post" onsubmit="return false;">
                        <div class="form-group">
                            <a id="errorMessage"></a>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Username</label>
                            <input type="text" id="username" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" id="password" />
                        </div>
                        <button id="btnLogin" type="submit" style="float:right; cursor: pointer">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/Login/login.js"></script>