.dxvgControl_MaterialCompact1,
.dxvgDisabled_MaterialCompact1
{
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: White;
    color: #484848;
    cursor: default;
}
.dxvgDisabled_MaterialCompact1
{
    color: #b8b8b8;
}
.dxvgControl_MaterialCompact1 a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: #484848;
    text-decoration: none;
}
.dxvgControl_MaterialCompact1 a
{
    color: #35B86B;
    text-decoration: none;
}
.dxvgControl_MaterialCompact1 a:hover
{
    text-decoration: underline;
}
.dxvgControl_MaterialCompact1 a:hover.dxbDisabled_MaterialCompact1
{
    color: #BBBBBB;
    text-decoration: none;
}
.dxvgDisabled_MaterialCompact1 a
{
    color: #b8b8b8;
}
.dxvgTable_MaterialCompact1
{
    background-color: White;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-collapse: separate !important;
    overflow: hidden;
    table-layout: fixed;
}
.dxvgTable_MaterialCompact1 .dxvgHEC
{
    background-color: White;
    border-width: 0;
    overflow: hidden;
}
.dxvgControl_MaterialCompact1 .dxvgCSD
{
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
.dxvgCSD .dxvgTable_MaterialCompact1
{
    border-right: 0;
}
.dxvgControl_MaterialCompact1 .dxvgFCW + .dxvgTable_MaterialCompact1
{
    border-top: 0;
}
.dxvgControl_MaterialCompact1 .dxvgCSD .dxvgTable_MaterialCompact1,
.dxvgControl_MaterialCompact1 table[id$='DXFixedTable']
{
    border-bottom: 0;
}
.dxvgControl_MaterialCompact1 .dxvgCSD + .dxvgSummaryPanel_MaterialCompact1,
.dxvgControl_MaterialCompact1 .dxvgCSD + .dxvgPagerBottomPanel_MaterialCompact1,
.dxvgControl_MaterialCompact1 .dxvgCSD + .dxvgFilterBar_MaterialCompact1,
.dxvgControl_MaterialCompact1 .dxvgCSD + .dxvgStatusBar_MaterialCompact1,
.dxvgTable_MaterialCompact1 + .dxvgSummaryPanel_MaterialCompact1,
.dxvgTable_MaterialCompact1 + .dxvgPagerBottomPanel_MaterialCompact1,
.dxvgTable_MaterialCompact1 + .dxvgFilterBar_MaterialCompact1,
.dxvgTable_MaterialCompact1 + .dxvgStatusBar_MaterialCompact1
{
    border-top: 0;
}
.dxvgHeader_MaterialCompact1
{
    cursor: pointer;
    color: black;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    text-align: left;
    background-color: white;
    padding: 10px 10px 8px;
    border: 1px Solid #DCDCDC;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCategory_MaterialCompact1
{
    color: #939393;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: #f4f4f4;
    padding: 9px 10px 10px;
    border-bottom: 1px solid #DFDFDF;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCSD .dxvgCategory_MaterialCompact1:not(.dxvg__I)
{
    border-right: 1px solid #DFDFDF;
}
.dxvgCategoryRow_MaterialCompact1.dxvgER .dxvgCategory_MaterialCompact1,
.dxvgCategoryRow_MaterialCompact1.dxvgCR .dxvgCategory_MaterialCompact1
{
    cursor: pointer;
}
.dxvgCategoryRow_MaterialCompact1.dxvgER .dxvgCategory_MaterialCompact1.dxvg__I,
.dxvgCategoryRow_MaterialCompact1.dxvgCR .dxvgCategory_MaterialCompact1.dxvg__I
{
    cursor: default;
}
.dxvgRecord_MaterialCompact1
{
    padding: 8px 10px 9px;
    border: 1px solid #DFDFDF;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.dxvgRecord_MaterialCompact1:last-child
{
    border-right-width: 0;
}
.dxvgRPFC .dxvgRecord_MaterialCompact1
{
    border-bottom: 1px Solid #DCDCDC;
}
.dxvgGLNV .dxvgRecord_MaterialCompact1
{
    border-right-width: 0;
}
.dxvgGLNH .dxvgRecord_MaterialCompact1
{
    border-bottom-width: 0;
}
.dxvgGLNH .dxvgRPFC .dxvgRecord_MaterialCompact1
{
    border-bottom-width: 1px;
}
.dxvgGLNH .dxvgRPFC.dxvgER .dxvgRecord_MaterialCompact1
{
    border-bottom-width: 0;
}
.dxvgFC .dxvgGLNH tr:last-child .dxvgRecord_MaterialCompact1
{
    border-bottom-width: 1px;
}
.dxvgRecordAlt_MaterialCompact1
{
    background-color: #f5f5f5;
}
/* Select, Hover */
.dxvgSelectedRecord_MaterialCompact1,
.dxvgSelectedRecord_MaterialCompact1.dxvgDataRowHover_MaterialCompact1
{
    background-color: #F1F1F1;
}
.dxvgDataRowHover_MaterialCompact1 .dxvgRecord_MaterialCompact1
{
    background-color: #EEE;
}
/* Command Items */
.dxvgCommandCell_MaterialCompact1
{
    padding: 8px 4px;
}
.dxvgCommandCell_MaterialCompact1 a,
.dxvgHeader_MaterialCompact1 a.dxvgCommandItem_MaterialCompact1
{
    margin: 0 5px 0 0;
}
.dxvgHeader_MaterialCompact1 a,
.dxvgCommandCell_MaterialCompact1 a
{
    color: #35B86B;
}
.dxbButton_MaterialCompact1[class~="dxvgCommandItem_MaterialCompact1"]
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxbButton_MaterialCompact1[class~="dxvgCommandItem_MaterialCompact1"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Indents */
.dxvgControl_MaterialCompact1 .dxvg__I
{
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0 1px 0 0;
    cursor: default;
    box-shadow: none;
}
.dxvgControl_MaterialCompact1 .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
.dxvgControl_MaterialCompact1 .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 0;
}
.dxvgControl_MaterialCompact1 .dxvgMHI .dxvg__I
{
    border-right-width: 0;
}
.dxvgControl_MaterialCompact1 .dxvgMHI .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
/* Title Panel, Status bar, Summary Panel */
.dxvgTitlePanel_MaterialCompact1,
.dxvgTable_MaterialCompact1 caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxvgStatusBar_MaterialCompact1
{
    border-top: 1px solid #DFDFDF;
}
.dxvgStatusBar_MaterialCompact1 tr.dxvg
{
    height: 20px;
}
.dxvgStatusBar_MaterialCompact1 tr.dxvg > td
{
    padding: 24px 0;
}
.dxvgStatusBar_MaterialCompact1 tr.dxvg span .dxbButtonSys:first-child
{
    margin-left: 20px;
}
.dxvgSummaryPanel_MaterialCompact1
{
    border: 1px solid #DFDFDF;
    background-color: #f4f4f4;
    color: #8e8e93;
    padding: 5px 21px 4px;
}
.dxvgSummaryItem_MaterialCompact1
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
/* Pager */
.dxvgPagerTopPanel_MaterialCompact1,
.dxvgPagerBottomPanel_MaterialCompact1
{
    padding: 3px 0 1px;
}
.dxvgPagerBottomPanel_MaterialCompact1
{
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    border-top: 1px solid #DFDFDF;
}
.dxvgSummaryPanel_MaterialCompact1 + .dxvgPagerBottomPanel_MaterialCompact1
{
    border-top-width: 0;
}
.dxvgControl_MaterialCompact1 .dxpLite_MaterialCompact1,
.dxvgDisabled_MaterialCompact1 .dxpLite_MaterialCompact1
{
    padding-top: 4px;
}
/* Filter Builder, Filter Bar */
.dxvgFilterBar_MaterialCompact1
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
}
.dxvgFilterBar_MaterialCompact1 a
{
    color: #35B86B;
    text-decoration: none;
}
.dxvgFilterBar_MaterialCompact1 a:hover
{
    text-decoration: underline;
}
.dxvgFilterBar_MaterialCompact1 > tbody > tr > td
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.dxvgFilterBarCheckBoxCell_MaterialCompact1
{
    padding-left: 8px;
}
*[dir="rtl"] .dxvgFilterBarCheckBoxCell_MaterialCompact1
{
    padding-right: 8px;
}
.dxvgFilterBarImageCell_MaterialCompact1
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxvgFilterBarImageCell_MaterialCompact1
{
    padding: 0 20px 0 8px;
}
.dxvgFilterBarImageCell_MaterialCompact1 img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxvgFilterBarExpressionCell_MaterialCompact1
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxvgFilterBarClearButtonCell_MaterialCompact1
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxvgFilterBarClearButtonCell_MaterialCompact1
{
    padding: 5px 6px 8px 20px;
}
.dxvgFilterBuilderMainArea_MaterialCompact1
{
    background: white none;
    padding: 6px 2px;
}
.dxvgFilterBuilderButtonArea_MaterialCompact1
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxvgFilterBuilderButtonArea_MaterialCompact1 .dxbButton_MaterialCompact1
{
    margin-left: 8px;
}
.dxvgControl_MaterialCompact1 .dxpcLite_MaterialCompact1
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxvgControl_MaterialCompact1 .dxpcLite_MaterialCompact1 .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Header Filter */
.dxvgControl_MaterialCompact1 .dxpcLite_MaterialCompact1 .dxpc-footerContent > table
{
    margin: 13px 20px 11px 0px;
}
.dxvgControl_MaterialCompact1 .dxpcLite_MaterialCompact1 .dxpc-footerContent
{
    padding: 12px 20px 7px 12px;
}
.dxvgControl_MaterialCompact1 .dxvgHFC
{
    padding-left: 4px;
}
.dxvgControl_MaterialCompact1 .dxvgHFC .dxeCalendar_MaterialCompact1
{
    margin-top: 3px;
    margin-left: 7px;
}
.dxvgControl_MaterialCompact1 div[id$='DXEPLPC']
{
    height: 53px;
}
.dxvgControl_MaterialCompact1 .dxvgHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxvgControl_MaterialCompact1 .dxvgHFDRC
{
    margin: 15px 15px 25px;
}
.dxvgControl_MaterialCompact1 .dxvgHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxvgControl_MaterialCompact1 .dxvgHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxvgControl_MaterialCompact1 .dxvgHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Batch Edit */
.dxvgControl_MaterialCompact1 td.dxvgBatchEditCell_MaterialCompact1
{
    padding: 0 2px;
}
.dxvgControl_MaterialCompact1 td.dxvgBatchEditModifiedCell_MaterialCompact1
{
    background: #d7f9c7;
}
.dxvgBatchEditDeletedItem_MaterialCompact1,
.dxvgBatchEditNewItem_MaterialCompact1.dxvgBatchEditDeletedItem_MaterialCompact1
{
    background: #EFEFEF;
}
td.dxvgBatchEditDeletedItem_MaterialCompact1:not(.dxvgCommandColumn_MaterialCompact1)
{
    color: rgba(0,0,0,0.5);
}
.dxvgBatchEditDeletedItem_MaterialCompact1.dxvgBatchEditModifiedCell_MaterialCompact1
{
    background: #eefbe7 !important;
}
.dxvgBatchEditNewItem_MaterialCompact1
{
    background: #F0FAEA;
}
.dxvgControl_MaterialCompact1 .dxvgErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxvgControl_MaterialCompact1 .dxvgErrorCell img
{
    margin: -3px 0;
}
.dxvgStatusBar_MaterialCompact1 .dxbButton_MaterialCompact1
{
    margin-right: 10px;
}
.dxvgControl_MaterialCompact1 td.dxvgBatchEditCell_MaterialCompact1 .dxichCellSys
{
    padding-left: 0;
}
.dxvgRecordError_MaterialCompact1
{
    background-color: #FFC8C8;
    color: #FF0000;
    padding: 6px 10px;
    height: 100%;
}
.dxvgERV .dxvgRecord_MaterialCompact1
{
    display: none;
}
.dxvgEmptyRecord_MaterialCompact1
{
    display: none;
    text-align: center;
}
.dxvgERV .dxvgEmptyRecord_MaterialCompact1
{
    display: table-cell;
}
/* LoadingPanel */
.dxvgLoadingPanel_MaterialCompact1
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxvgLoadingPanel_MaterialCompact1 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxvgLoadingPanel_MaterialCompact1 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #35B86B;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxvgLoadingPanel_MaterialCompact1 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxvgLoadingPanelStatusBar_MaterialCompact1
{
    background-color: Transparent;
}
.dxvgLoadingPanelStatusBar_MaterialCompact1 td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxvgLoadingPanelStatusBar_MaterialCompact1 .dxlp-loadingImage
{
    background-image: url('../GridView/gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
/* Search Panel */
.dxvgSearchPanel_MaterialCompact1
{
    padding: 7px 0 16px;
}
.dxvgSearchPanel_MaterialCompact1 > table
{
    width: 100%;
}
.dxvgSearchPanel_MaterialCompact1 .dxeButtonEdit_MaterialCompact1
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxvgSearchPanel_MaterialCompact1 .dxeButtonEdit_MaterialCompact1,
.dxvgSearchPanel_MaterialCompact1 .dxeButtonEdit_MaterialCompact1 input
{
    background-color: #FAFAFA;
}
.dxvgSearchPanel_MaterialCompact1 .dxeButtonEdit_MaterialCompact1 td.dxic
{
    padding: 13px 8px 14px 12px;
}
*[dir="rtl"] .dxvgSearchPanel_MaterialCompact1 .dxeButtonEdit_MaterialCompact1 td.dxic
{
    padding: 13px 12px 14px 8px;
}
.dxvgControl_MaterialCompact1 .dxvgSearchPanel_MaterialCompact1 .dxbButton_MaterialCompact1
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxvgControl_MaterialCompact1 .dxvgSearchPanel_MaterialCompact1 .dxbButton_MaterialCompact1
{
    margin-left: 0;
    margin-right: 7px;
}
.dxvgControl_MaterialCompact1 .dxvgHL
{
    background: #35B86B;
    color: white;
    font-weight: bold;
    font-style: normal;
}
/* Removes flicking in Material Safari*/
.dxvgTable_MaterialCompact1
{
    -webkit-tap-highlight-color: transparent;
}
.dxvgRecord_MaterialCompact1 .dxICheckBox_MaterialCompact1,
.dxvgRecord_MaterialCompact1 .dxeIRadioButton_MaterialCompact1
{
    margin: 0 10px 0 10px;
}
.dxvgFocusedCell_MaterialCompact1
{
    box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -webkit-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -moz-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
}
/* Ripple */
.dxvgControl_MaterialCompact1 .dxvgTable_MaterialCompact1 .dxvgHeader_MaterialCompact1::before,
.dxvgControl_MaterialCompact1 .dxvgCustomization_MaterialCompact1 .dxvgHeader_MaterialCompact1::before
{
    content: "dxRippleTarget";
    display: none;
}
