@model IList<EInvoice.Data.Data.Customer>

@*@Html.Partial("GridViewPartialView", Model)*@


@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="clearfix" align="center">
    <h3>QUICK MENU</h3>
</div>
<style>
    .tile-stats {
        cursor: pointer;
    }

        .tile-stats h3 {
            color: #731c1c;
        }

    a {
        color: #2b3371;
    }

    .tile-stats .icon {
        color: #5e5757;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float: right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="@Url.Action("Create", "Invoice")">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                                <div class="count">1</div>
                                <h3>Create Invoice</h3>
                                <p>Create new invoice</p>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="@Url.Action("List", "Invoice")">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-folder-open-o"></i></div>
                                <div class="count">2</div>
                                <h3>List Invoice</h3>
                                <p>Do invoice management</p>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="@Url.Action("Report", "Invoice")">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-book"></i></div>
                                <div class="count">3</div>
                                <h3>Report</h3>
                                <p>Report stituation used to invoice</p>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="@Url.Action("Index", "CompanyInfo")">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-info"></i></div>
                                <div class="count">4</div>
                                <h3>Company Info</h3>
                                <p>View, edit company information</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>